---
permalink: '/'
---

{% extends "./layouts/base.njk" %}

{% block headTagsCustom %}
	<meta name="description" content="Basic setup of eleventy witg nunjucks, postcss">
	<meta property="og:image" content="">
	<meta property="og:description" content="">
	<meta property="og:title" content="">
	<title>Index</title>
	<link rel="stylesheet" href="/styles/styles.css">
  <script src="https://identity.netlify.com/v1/netlify-identity-widget.js"></script>
{% endblock %}

{% block main %}
	<main>
		<h1>Eleventy skeleton project - Index</h1>
	</main>
{% endblock %}